.container {
  display: flex;
}

.grid{
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.noBorder{
  height: 20px;
  width: 20px;
}

.border {
  height: 18px;
  width: 18px;
  border-style: outset;
  border-width: 1px;
}

.pieces {
  background-color: #32CD32;
}

.minigrid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
