.container {
  display: flex;
}

.grid{
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.grid div{
  height: 20px;
  width: 20px;
}

.pieces {
  background-color: #32CD32;
}

.minigrid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.minigrid div{
  height: 20px;
  width: 20px;
}
